<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-float.min.css">
  <link rel="stylesheet" href="style.css">
  <title>Best RPG Ever (isn't it?)</title>
</head>
<body>
  <div id='app'>
    <section class='row'>
      <div class='small-6 columns'>
        <h1 class='text-center'>YOU</h1>
        <div class='healthbar'>
          <div 
            class='healthbar text-center' 
            :style="{width: playerHealth + '%'}"
            style='background-color: green; margin: 0; color: white;'>
            {{ playerHealth }}
          </div>
        </div>
      </div>
      <div class='small-6 columns'>
        <h1 class='text-center'>HIDEOUS MONSTER</h1>
        <div class='healthbar'>
          <div 
            class='healthbar text-center' 
            :style="{width: monsterHealth + '%'}"
            style='background-color: red; margin: 0; color: white;'>
            {{ monsterHealth }}
          </div>
        </div>
      </div>
    </section>
    <section class='row controls' v-if='!gameIsRunning'>
      <div class='small-12 columns'>
        <button id='start-game' @click='startGame'>LET'S FIGHT DUDE</button>
      </div>
    </section>
    <section class='row controls' v-else>
      <div class='small-12 columns'>
        <button id='attack' @click='attack'>ATTACK</button>
        <button id='special-attack' @click='specialAttack'>SPECIAL FUCKING ATTACK</button>
        <button id='heal' @click='heal'>NEED LIFE</button>
        <button id='give-up' @click='giveUp'>GIVE UP LOOSER</button>
      </div>
    </section>
    <section class='row log' v-if='turns.length > 0'>
      <div class='small-12 columns'>
        <ul>
          <li 
          v-for='turn in turns' 
          :class="{'player-turn': turn.isPlayer, 'monster-turn': !turn.isPlayer}">
            {{ turn.text }}
          </li>
        </ul>
      </div>
    </section>
  </div>
  <script src='app.js'></script>
</body>
</html>